@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital@1&display=swap');
@media screen and (max-width: 675px){
    .site_map_photo{
        width: 90%;
        max-width: 400px;
    }
    .wireframe_photos{
        width: 90%;
        max-width: 400px;
    }
    #join{
        visibility: hidden;
        height: 0px;
    }
    #weather{
        width: 90%;
    }
    #event{
        width: 90%;
    }
    #spotlight_3{
        visibility:hidden;
        display: none;
    }
    .logo{
        width: 100%

    }
    .logob{
        width: 50%;
    }
    .col1,.col2,.col3{
        margin: 10px;
    }
    .header h1{
        font-size: .9em;
    }
    .header{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .logo{
        grid-column: 2/3;
        margin: auto;
    }
    nav{
        grid-column: 1/4;
        margin: auto;
        width:100%;
    }
    /* Hamburger menu stuff */
    #navbar{display:none;}
    #menu_open{display: block;}
    #menu_close{display: none;}
    #menu_button{display: block;
        text-align: center;
        margin: auto;}
    #navbar.active{
        display:flex;
        flex-direction: column;
    }
    #menu_open.active{display: none;}
    #menu_close.active{display: block;}
    .header{
        display: grid;
        grid-template-columns:25% 50% 25%;
    }
    header img{
        width:100%;
        max-width: 150px;
        grid-row: 1/3;
        grid-column: 1/2;
        display: flex;
        }
    .header_img{
            max-height: 30px;
            max-width: 30px;
            grid-column: 4/5;
            grid-row: 1/2;
        }
    #header_img_position{
            display: flex;
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .hero_img{
            grid-row: 1/3;
            grid-column: 1/2;
            z-index: 0;
            width: 80%;
        }
        .hero_txt{
            grid-row: 1/2;
            grid-column: 1/2;
            z-index: 1;
            color: black;
            background-color: #fffdd0;  
            width: 350px;
            margin:10px auto;
        }
        .hero_title{
            grid-row: 2/3;
            grid-column: 1/2;
            color:black;
            z-index: 1;
            background-color: #fffdd0;
            margin: 10px auto;
            width: 150px;
        }
        .hero_card{
            width: 100%;
        }
        img{
            width: 80%;
        }
        #newsletter{
            background-color: wheat;
        }
        .about{
            background-color: #fffdd0;
            width: 80%;
            margin: 0 auto;
            padding: 10px;
        }
        #weather{
            margin: 10px auto;
            width: 80%;
            padding: 10px;
        }
        .weather_icon{
            max-width: 200px ;
        }
        #newsletter{
            width:80%;
            margin:10px auto;
            padding: 10px;
        }
}

body{
    background-color: #D81159;
}
main{
    text-align: center;
    font-size: 16px;
}
header{
    margin: auto;
    width: 100%;
}
footer{
    background-color: #B5BAD0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.together{
    width: 80%;
    grid-column: 2/3;
    text-align: center; 
    white-space: nowrap;
}
#inactive{
    color: #493b2a;
}
.dope{
    grid-column: 1/5;
    text-align: center;
    margin: auto;
    color: black;
    width: 80%;
    border-radius: 10px;
}

div h3{
    grid-row: 2;
}
ul{
    list-style: none;
}
header ul{
    background-color: #B5BAD0;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
header ul li{
    list-style: none;
    width: 100%;
}
header ul li a{
    display: block;
    text-decoration: none;
    color: #493b2a;
    padding: 1rem;
    text-align: center;
    background-color: #FED766;
}
header ul li a:hover{
    display: block;
    text-decoration: none;
    color: #493b2a;
    padding: 1rem;
    text-align: center;
    background-color: #f3f708;
}
.nav_bar{
    background-color: #FED766;
    border-radius: 10px;
    padding-left: 5px;
}
.nav_hover{
    background-color: #FED766;
    color: #493b2a;
    border-radius: 10px;
    padding-left: 5px;

}
.header{
    background-color:#B5BAD0;
    color: black;
    padding: 2%;
}
#plan{
    text-align: center;
}
.colors{
    display: flex;
    justify-content: center;
    justify-self: center;
}
.primary{
    background-color: #B5BAD0;
    height: 50px;
    margin: 0px 10px;
}
.secondary{
    background-color:#FED766;
    height: 50px;
    margin: 0px 10px;
}
.accent1{
    background-color:#D81159;
    height: 50px;
    margin: 0px 10px;
    color:white
}
.accent2{
    background-color:#7389AE;
    height: 50px;
    margin: 0px 10px;
    color: black;
}
.fonts{
    font-family: 'Lato', 'Open Sans', sans-serif;
    background-color: #7389AE;
    margin: 0 60px;
    padding: 10px;
}
#font1{
    font-family: 'Lato', sans-serif;
}

#font2{
    font-family: 'Open Sans', sans-serif;
}

#font3{
    font-family:sans-serif;
}
/* index */
.hero_card{
    margin: 10px;
    padding: 10px;
    color: white;
}
#weather{
    background-color: wheat;
}

.hero_button{
    text-decoration: none;
    color: black;
    background-color:#FED766;
    width: 30%;
    height: 35px;
    margin: 0 auto;
}
form{
    text-align: center;
    width: 80%;
    background-color: #fffdd0;
    margin: 40px auto;
    padding: 20px;
    display:block;   
}
.smoothie{
    width: 40%;
    max-width: 300px;
    display: block;
    margin: 10px auto;
}
/* About */
.apple_img,.cherry_image,.yaso{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}
.about_photos{
    display: flex;
    background-color: #fffdd0;
    width: 100%;
    padding-bottom: 15px;
}
#about{
    background-color: #fffdd0;
    padding: 25px;
    display: flex;
    flex-direction:column;
}
#about_h1{
    display: block;
}
#yasukochi_farm{
    display:flex;
    flex-direction: column;
    background-color: #fffdd0;
    padding: 15px;
    margin:15px auto;
}
section{
    background-color: #fffdd0;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}