[data-src]{
    min-width: 50px;
    min-height: 50px;
    border:1px solid red;
}
main{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    background-color: rgb(77, 77, 77);
}
h1{
    text-align: center;
    color: white;
}
div{
    margin: auto;
    margin-bottom: 40px;
}