@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
.content{
width: 800px;
margin:0 auto;
font-family: 'Lobster Two', cursive;
}
header{
    display: flex;
    justify-content: center;
}
.calling_card{
    display: flex;
    flex-direction: row;
    background-color: rgb(128, 118, 66);
    width: 100%;
    justify-items: center;
    justify-content: center;
}
#me{
    height: 150px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 10px;
}

#my_name{
    grid-column:3/4;
    grid-row:2/3;
}
.lesson_first{
    text-align: center;
    margin:auto;
    grid-column:2/4;
}
.lessons{
    grid-column: 2/3;
}
.assignment_portal{
    background-color: rgb(216, 216, 172);
}
#lesson02,#lesson03,#lesson04,#lesson05,#lesson06,#lesson07,#lesson08,#lesson09,#lesson10,#lesson11{
    margin: auto;
    text-align: left;
    margin-left: 200px;
}
#lesson02,#lesson04,#lesson06,#lesson08,#lesson10{
    background-color: rgb(142, 163, 64);
}
#lesson03,#lesson05,#lesson07,#lesson09,#lesson11{
    background-color: rgb(160, 216, 87);
}
footer{
    width: 800px;
    margin:0 auto;
    text-align: center;
    background-color: rgb(128, 118, 66);
    font-family: 'Lobster Two', cursive;

}
